.container-box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    
    width: 90%;
    min-height: 400px;

    margin: 60px auto;
    display: flex;
    flex-direction: column;
}
