# Python
__pycache__/
*.py[cod]
*.pkl
*.sqlite3
*.log

# Django
db.sqlite3
media/
staticfiles/

# Virtual env
venv/
.env
*.env

# VSCode/IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
